*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: darkkhaki;
}

#count {
  text-align: center;
  font-size: 100px;
}


input {
  display: block;
  margin: 0 auto;
  border-top: none;
  height: 20px;
  width: 80px;
  padding:10px;
  border: 1px solid red;
}


.button-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.button-container button {
    margin: 0 auto;
    padding: 10px;
    background-color: #a881af;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
}

.button-container button:hover {
  color: #a881af;
  background-color: white;
}

.link-contain {
  display: flex;
  height: 55px;
  width: 450px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 15px;
  margin-bottom: 22px;
  position: sticky;
  top: 0;
}

.link-contain a {
  color:rebeccapurple;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.link-contain a:hover {
  color: white;
}

p {
  text-align: center;
}

.homepage {
  background-color: powderblue;
  color: black;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
}

h1{
  text-align: center;
  font-size: 30px;
}

.countCustom {
  font-size: 110px;
}

.Custom {
  color: red;
  font-size: 100px;
}

#input {
  border: 1px solid black;
}

.button-container-custom button {
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  border: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 13px;
}

.button-container-custom button:hover {
  color: whitesmoke;
  background-color: black;
}

.button-container-custom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}